/*
 Make the text in the welcome container white and any child elements should be flex to align them horizontally.
 */
.welcomeContainer{
    color: white; /* This doesn't change with theming */
    text-align: center;
    font-size: 60px;
}

.accountContainer{
    background-color: var(--secondary-gray);
    border-radius: 20px;
    padding: 20px;
    color: var(--text-dark);
    text-align: center;
    width: 70%;
    box-shadow: 0 8px 8px var(--shadow-min);
}


.lastLogin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    margin-bottom: 20px;

}

.lastLogin a, .lastLogin button{
    justify-self: end;
    background-color: var(--main-green);
    border-radius: 20px;
    color: var(--text-light);
    padding: 5px 10px 5px 10px;
}

.lastLogin div{
    justify-self: end;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.mainInfo{
    display: grid;
    align-items: center;
    justify-items: center;
}

.mainInfo h1{
    font-size: 48px;
    font-weight: bold;
}

.mainInfo h2{
    font-size: 20px;
    font-weight: bold;
}

.mainInfo input{
    padding: 5px;
    background-color: var(--secondary-gray) !important;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.toolTip{
    margin-top: -2.5%;
    color: #A0A4A6;
}

.accountImage{
    background-color: var(--main-green);
    border-radius: 50%;
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.accountImage img{
    object-fit: cover;
}

.accountImageInput div {
    background-color: var(--secondary-gray) !important;
}


.actionItem{
    width: 90%;
    margin: auto;
}

.actionItem button{

    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.signOutButton{
    background-color: orange;
}

.deleteAccountButton{
    background-color: red;
}

.signInButton{


    background-color: var(--main-green);
    border-radius: 20px;
    padding: 10px;
    margin: 150px 10px 100px 10px;
    font-size: 24px;
    color: var(--text-light);
    cursor: pointer;
    width: 80%;
}

.tableContainer{
    width: 100%;
    overflow-x:auto;
}

.dataTable{
    width: 100%;
    border-collapse: collapse;
}

.dataTable td, .dataTable th{
    padding: 8px;
}

.dataTable .divider{
    opacity: 0;
}

.dataTable thead{
    background-color: var(--darker-secondary-gray);
    color: var(--text-light);
    text-align: left;
    letter-spacing: 0.05em;
}

.dataTable button{
    border-radius: 15px;
    color: var(--text-light);
    cursor: pointer;
    background-color: var(--main-green);
    padding: 5px 10px 5px 10px;
}

.dataTable button:hover{
    background-color: var(--darker-main-green);
}

.tbody p{
    text-align: center;
}

.createButton{
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--main-green);
    color: var(--text-light);
    cursor: pointer;
}

.createButton:hover{
    background-color: var(--darker-main-green);
}

@media only screen and (max-width: 800px) {
    .accountImage{
        margin-top: 5%;
        width: 150px;
        height: 150px;
    }

    .accountContainer{
        width: 95%;
    }
}

.keysCreatorContainer, .keyViewerContainer{
    background-color: var(--secondary-gray);
    border-radius: 20px;
    padding: 20px;
    color: var(--text-dark);
    text-align: center;
    width: 70%;
    box-shadow: 0 8px 8px var(--shadow-min);
    margin: auto;
}

.keyItem{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
    margin-bottom: 20px;
    column-gap: 20px;
}

.keyItem input[type="checkbox"] {

    width: 15px;
    height: 15px;
    cursor: pointer;
    justify-self: end;

}

.keyViewerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
}

.keyViewerContainer h2, .keyViewerContainer div:has(input){
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    grid-column: span 2;
    justify-self: center;
}

.keyViewerContainer div:has(input) *{
    text-align: center;
}

/* Make the children inline */
.keyViewItem *,.logItem *{
    display: inline;
}

.keyViewerDropdowns{
    padding-top: 50px;
    width: 95%;
    margin: auto;

}

.permissionItem{
    padding: 10px;
}

.logItem{
    padding: 5px 15px 5px 0px;
}

.logItem h3{
    padding-left: 5px;
    background-color: var(--darker-secondary-gray);
}

.logItem .success{
    color: green;
}

.logItem .error{
    color: red;
}

.editButtons{
    grid-column: span 2;
    justify-self: end;
}

