/*
 Make the text in the welcome container white and any child elements should be flex to align them horizontally.
 */
.welcomeContainer{
    color: white; /* This doesn't change with theming */
    text-align: center;
    font-size: 60px;
}

.accountContainer{
    background-color: var(--secondary-gray);
    border-radius: 20px;
    padding: 20px;
    color: var(--text-dark);
    text-align: center;
    width: 70%;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.lastLogin{
    text-align: left;
}

.mainInfo{
    display: grid;
    align-items: center;
    justify-items: center;

}

.mainInfo h1{
    font-size: 48px;
    font-weight: bold;
}

.mainInfo h2{
    font-size: 20px;
    font-weight: bold;
}

.accountImage{
    background-color: var(--main-green);
    border-radius: 50%;
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.actionItem{
    margin-bottom: 30px;
    width: 90%;
}

.actionItem button{

    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
}

.signOutButton{
    background-color: orange;
}

.deleteAccountButton{
    background-color: red;
}

.signInButton{


    background-color: var(--main-green);
    border-radius: 20px;
    padding: 10px;
    margin: 150px 10px 100px 10px;
    font-size: 24px;
    color: var(--text-light);
    cursor: pointer;
    width: 80%;
}

.tableContainer{
    width: 100%;
}

.dataTable{
    width: 100%;
    border-collapse: collapse;
}

.dataTable td, .dataTable th{
    padding: 8px;
}

.dataTable .divider{
    opacity: 0;
}

.dataTable thead{
    background-color: var(--darker-secondary-gray);
    color: var(--text-light);
    text-align: left;
    letter-spacing: 0.05em;
}

.dataTable button{
    border-radius: 15px;
    color: var(--text-light);
    cursor: pointer;
    background-color: var(--main-green);
    padding: 5px 10px 5px 10px;
}

.dataTable button:hover{
    background-color: var(--darker-main-green);
}

.tbody p{
    text-align: center;
}

.createButton{
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--main-green);
    color: var(--text-light);
    cursor: pointer;
}

.createButton:hover{
    background-color: var(--darker-main-green);
}

@media only screen and (max-width: 800px) {
    .accountImage{
        margin-top: 5%;
        width: 150px;
        height: 150px;
    }

    .accountContainer{
        width: 95%;
    }
}