.titleBar{
    background-color: var(--main-green);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: var(--text-light);
    height: 50px;
}

.titleBar h1{
    font-size: 24px;
    margin: 0;
    float: left;
}

.titleBar button{
    font-size: 20px;
    float: right;
}

.content{
    background-color: var(--secondary-gray);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.open{
    height: auto;
}

.closed{
    height: 10px;
    padding: 0;
    content: "";
}
