@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*
 Defines Some Global CSS Variables for the theme
 NOTE: THEME IS CHANGED AND SET IN THE accessibility.js FILE
 */
:root{
    --LIGHT-main-background: #ffffff;
    --LIGHT-darker-main-background: #CFD3D5;
    --LIGHT-dark-background: #000000;
    --LIGHT-text-light: #FFFFFF;
    --LIGHT-text-dark: #000000;
    --LIGHT-main-green: green;
    --LIGHT-darker-main-green: #0A670A;
    --LIGHT-dark-green: #084808;
    --LIGHT-secondary-gray: #D9D9D9;
    --LIGHT-darker-secondary-gray: #A0A4A6;
    --LIGHT-blue: #00B4D8;
    --LIGHT-shadow: black;
    --LIGHT-shadow-less: rgba(0,0,0,0.75);
    --LIGHT-shadow-min: rgba(0,0,0,0.1);

    --DARK-main-background: #000000;
    --DARK-darker-main-background: #383535;
    --DARK-dark-background: #FFFFFF;
    --DARK-text-light: #000000;
    --DARK-text-dark: #FFFFFF;
    --DARK-main-green: green;
    --DARK-darker-main-green: #0A670A;
    --DARK-dark-green: #084808;
    --DARK-secondary-gray: #6d7072;
    --DARK-darker-secondary-gray: #505354;
    --DARK-blue: #01424f;
    --DARK-shadow: white;
    --DARK-shadow-less: rgba(255,255,255,0.5);
    --DARK-shadow-min: rgba(255,255,255,0.1);


    --main-background: var(--LIGHT-main-background);
    --darker-main-background: var(--LIGHT-darker-main-background);
    --dark-background: var(--LIGHT-dark-background);
    --text-light: var(--LIGHT-text-light);
    --text-dark: var(--LIGHT-text-dark);
    --main-green: var(--LIGHT-main-green);
    --darker-main-green: var(--LIGHT-darker-main-green);
    --dark-green: var(--LIGHT-dark-green);
    --secondary-gray: var(--LIGHT-secondary-gray);
    --darker-secondary-gray: var(--LIGHT-darker-secondary-gray);
    --blue: var(--LIGHT-blue);
    --shadow: var(--LIGHT-shadow);
    --shadow-less: var(--LIGHT-shadow-less);
    --shadow-min: var(--LIGHT-shadow-min);

    --site-font: 'Archivo';
    --roate-time: 30s;

}

/*
 Have a smooth transition effect on all elements
 */
* {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*
 The body of the website should be white with the font family of Archivo.
 The overflow-x is hidden to prevent the horizontal scroll bar from appearing
 */
body{
    background: var(--main-background);
    overflow-x: hidden;
    font-family: var(--site-font), sans-serif;
}

/*
 Split the page so that the input can be on the left and the images on the right
 Use flex to vertically and horizontally centre the input
 Flex in a column for it to be vertical
 */
.column {
    float: left;
    width: 50%;
    padding: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
}

/*
 When the screen is smaller than 1500px, make the column take up the entire width
 */
@media only screen and (max-width: 1500px) {
    .column{
        width: 100%;
    }
}

/*
 Clear the column ness
 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*
 Centring can be used a lot so make a global class for it
 */
.gridCentre{
    display: grid;
    justify-items: center;
    align-items: center;
}

/*
 Centring can be used a lot so make a global class for it
 */
.flex-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

.owl-carousel .owl-stage-outer{
    overflow: visible !important;
}

.container{
    background-color: var(--secondary-gray);
    border-radius: 20px;
    padding: 20px;
    color: var(--text-dark);
    text-align: center;
    width: 70%;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.pageWrapper {
    max-width: 500px;
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
    overflow-x: hidden;
}

.content{
    padding: 10px;
    height: 100vh;
}

/* Slide in from the right */
.slide-in-right {
    animation: slide-in-right 0.5s forwards;
}

/* Slide out to the right */
.slide-out-right {
    animation: slide-in-right 0.5s reverse forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Slide in from the left */
.slide-in-left {
    animation: slide-in-left 0.5s forwards;
}

/* Slide out to the left */
.slide-out-left {
    animation: slide-in-left 0.5s reverse forwards;
}
