.loadingContainer{
    width: 100%;
}

/*
 Make the loading container take up the entire screen by giving a fixed position and setting the top and left to 0 whilst making the height 100%
 Semi-transparent background to show that the user can still see the page behind
 Grid is used to centre the image and icon, positioned in the centre and at the end of their containers
 */
.loadingContainer{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(63, 60, 60, 0.9);
    display: grid;
    grid-template-columns: .8fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    align-items: end;
    z-index: 20;
}

/*
 Make the text large, light and centred
 Position it at the start of the container so that it is near the image in the centre
 */
.loadingContainer h1{
    font-size: 64px;
    text-align: center;
    color: var(--text-light);
    display: inline;
    justify-self: start;
}

.loadingContainer h2{
    font-size: 32px;
    text-align: center;
    color: var(--darker-secondary-gray);
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: start;
    justify-self: center;
}