/*
 The navbar is a fixed element at the top of the page, with a z-index of 2 to ensure it is always on top.
 Hide the overflow so that the navbar doesn't create scroll bars.
 Give the navbar a black background with 60% opacity.
 Give the navbar a box shadow to make it stand out from the background.
 */
.navbar {
    background-color: rgba(10, 44, 9, 0.6);
    position: fixed;
    z-index: 2;
    width: 100vw;
    top: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
    display: grid;
    grid-template-columns: repeat(2, .15fr) 1fr repeat(5, .12fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    align-items: center;
    min-height: 75px;
}

/*
 Float all the navbar <a> links left
 Give them a white font colour to contrast the bg, center the text
 Hide the <a> underlining
 */
.navbar a {
    float: left;
    margin: 0;
    display: block;
    color: white; /* doesn't use theming */
    text-align: center;
    font-size: 17px;

}

.navbar a img{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}


.mobileNav{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
}


/*
 Change bg and font colour on hover
 */
.navbar a:hover {
    border-bottom: 4px solid lightgreen;
    color: lightgreen;
}

/*
 The title of the site on the left of the navbar
 Give it a font size of 30px, bold, white, centered, no underlining
 Padding to make it look nice and inline to position it next to the logo
 */
.title{
    font-size: 30px;
    font-weight: bold;
}

/*
 Position the logo next to the title
 */
.logo{
    display: inline;
}

/*
 Make the current page visible to the user
 */
.activePage{
    border-bottom: 4px solid var(--main-green);
}


.navItem{
    border-bottom: 2px solid white;
}

/*
 Account Image Shouldn't Have a Border
 */
.navItem:has(img), .activePage:has(img){
    border-bottom: 0px
}

.activePage:hover:has(img), .navItem:hover:has(img){
    opacity: 0.75;
    border-bottom: 0px
}

.dropdownContent {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
    background-color: rgba(10, 44, 9, 0.6);
    z-index: -1;
    padding-top: 10px;
}

.navItem:hover .dropdownContent, .activePage:hover .dropdownContent {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-row-gap: 10px;
    width: 6%;
    overflow: hidden;
}

.userImage img{
    width: 150px;
    height: 150px

}


@media only screen and (max-width: 600px) {
}

.expanded{
    grid-template-columns: 1fr;
    background-color: rgba(10, 44, 9, 0.9);
}

@media only screen and (max-width: 600px) {
    .expanded .activePage, .expanded .navItem{
        border-bottom: 0;
    }

    .close{
        border-bottom: 2px solid white;
    }

    .expanded .activePage, .userImage{
        width: 30%;
        margin: auto;
    }

}