/*
 Make the header text light
 Use a grid to divide the header into 5 columns, the middle one is larger and for the title
 Center the text vertically and horizontally
 */
.plantHeader{
    color: var(--text-light);
    display: grid;
    grid-template-columns: .25fr .75fr 1.75fr .75fr .25fr;
    align-items: center;
    justify-items: center;

}

/*
 The header id is rotated 90 degrees and a bit larger then the other texts because of this
 */
.plantId{
    transform: rotate(-90deg);
    font-size: 20px;
}

/*
 The main text is dark and medium sized
 */
.plantMainInfo{
    color: var(--text-dark);
    font-size: 20px;
}

/*
 The header title is large and should wrap if it is too long
 */
.headerTitle{
    font-size: 40px;
    word-wrap: break-word;
}

/*
 These are the titles, they should be large and centered
 */
.plantMainInfo h1, .monthsContainer .title{
    font-size: 64px;
    text-align: center;

}

/*
 The subtitles are the alternative titles, they should be large and centered but not as large as the title
 */
.plantMainInfo h2{
    font-size: 24px;
    text-align: center;

}

/*
 Make the description text a bit offset from the top
 */
.description{
    padding-top: 35px;
}

/*
 Make the plant image take up all of the space it can
 Hide the overflow as the corners are rounded
 */
.plantImageContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
 Make the image container gray and rounded
 Give it 100% width but keep the height at 400px, image with object fit itself to scale
 Hide any overflow so the corners of the image dont go outside the rounder corners of the container
 */
.mainImage{
    background-color: var(--secondary-gray);
    border-radius: 20px;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

/*
 Move the container down a bit so it is not touching the main image
 Make it half the height of the main image but same width percentage
 Use a grid to divide the container into a column for the decrease button, 5 for the images and a column for the increase button
 Add some spacing to each column and align the contents of the column to the centre
 Hide any overflow so the corners of the images dont go outside the rounder corners of the container
 */
.bottomImages{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: .5fr repeat(5, 1fr) .5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

/*
 Make the buttons take up all of the space they can
 Make them gray and rounded
 Give the buttons a pointer cursor
 Cover the buttons with the image

 */
.bottomImages button{
    position: relative;
    cursor: pointer;
    background-color: var(--secondary-gray);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
 On hover make the buttons a bit darker
 */
.bottomImages button:hover{
    background-color: var(--darker-secondary-gray);
}

/*
 Divide the container into 3 columns and 1 row, repeating
 Add some spacing between the columns and rows
 */
.monthsContainer, .attachmentsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

/*
 The title should take up the entire first row, this makes it centre easily
 */
.monthsContainer .title{
    grid-column-start: 1;
    grid-column-end: 4;
}

/*
 Month item has a green background, a shadow and rounded corners
 The text is large, centered and light
 Padding is added to make the month item larger
 */
.month{
    background: var(--darker-main-green);
    box-shadow: -5px 5px 4px 5px var(--shadow-min);
    border-radius: 50px;
    text-align: center;
    color: var(--text-light);
    padding: 20px;
    font-size: 20px;
}

/*
 The header of the month item is large and centered
 */
.month h1{
    font-size: 32px;
}

/*
 By default dont change the styling
 */
.smallInline{
    display: block;
    margin: 0;
}

/*
 The titles for the sections are large, dark and centered
 */
.sourceSection h1, .attachmentsSection h1{
    color: var(--text-dark);
    text-align: center;
    font-size: 64px;
}


.editButton{
    background-color: var(--secondary-gray);
    padding: 20px;
    position: absolute;
    left: 0;
    border-radius: 0 20px 20px 0;
    border: var(--main-green) solid 1px;
    color: var(--text-dark);
    box-shadow: 2px 2px 2px 2px var(--shadow-min);
}

.editButton:hover{
    background-color: var(--darker-secondary-gray);
}

.plantImageDescription{
    background-color: var(--secondary-gray);
    border-radius: 0px 0px 20px 20px;
    margin-top: -20px;
    padding: 30px 10px 10px;
}

@media only screen and (max-width: 800px) {

    /*
     On smaller screens the grid is changed to 1 column
     */
    .monthsContainer, .plantHeader, .attachmentsContainer, .bottomImages{
        grid-template-columns: 1fr;
    }

    /*
    The id is rotated back to 0 degrees as is now in a column
     */
    .plantId{
        transform: rotate(0deg);
    }

    /*
     On smaller screens these items are made to be inline
     */
    .smallInline{
        display: inline;
        margin: 5px;
    }

    /*
     Title needs to be updated to only take one column to keep the same row structure
     */
    .monthsContainer .title{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*
     Center the images when there is only one column
    */
    .plantImageContainer{
        display: grid;
        justify-items: center;
    }

    /*
     Make the bottom images smaller as now they take up the entire screen width, make it long
     */
    .bottomImages{
        width: 85%;
        height: 1400px;
        font-size: 50px;
    }

    /*
     Arrow should now put up/down instead of left/right
     */
    .bottomImages .arrow{
        rotate: 90deg;
    }

}