/*
 Make the title of the page big, central and light coloured.
 */
.header h1{
    font-size: 64px;
    text-align: center;
    color: var(--text-light);
}


/*
 Make the text medium sized, dark and centred
 Pad the text so that it is not touching borders
 Make the background gray, rounded and give it a shadow for depth
 */
.userDetails {
    font-size: 24px;
    text-align: center;
    color: var(--text-dark);
    padding: 10px;
    background-color: var(--secondary-gray);
    border-radius: 25px;
    box-shadow: 0 8px 8px var(--shadow-min);
}

/*
 Make the text large, green and bold to show it is important
 */
.userDetails .email{
    color: var(--main-green);
    font-weight: bold;
}

/*
 Make the button green with a light font, rounded and give it a shadow for depth
 Add some padding to separate the text and button from the border
 Make the font smaller to make it less important then the email above, add margin to separate the two
 */
.userDetails button{
    background-color: var(--main-green);
    color: var(--text-light);
    border-radius: 10px;
    box-shadow: 0 2px 2px var(--shadow-less);
    padding: 5px;
    font-size: 18px;
    margin-top: 10px;
}

/*
 On hover make the button a bit darker to show that it is clickable
 Change the shadow to make it an inset shadow to show that it is being pressed
 */
.userDetails button:hover{
    background-color: var(--darker-main-green);
    box-shadow: inset 0 2px 2px var(--shadow-less);
}
.loadingAdminData{
    display: grid;
    place-items: center;
    margin-top: 80px;
}

.adminPanel{
    color: var(--text-dark);
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

.adminPanel h1{
    color: var(--text-dark);
    font-size: 48px;
}

.adminPanel .table{

    border-collapse: collapse;
    width: 100%;
}

.adminPanel td, .adminPanel th {
    border: 1px solid var(--darker-secondary-gray);
    text-align: left;
    padding: 8px;
}
.adminPanel tr:nth-child(even) {
    background-color: var(--secondary-gray);
}

.adminPanel button{
    background-color: var(--main-background);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    color: #ABAFB1;
}

.adminPanel button:hover{
    background-color: var(--darker-secondary-gray);
    color: var(--secondary-gray)
}
