.title{
    color: var(--text-light);
    text-align: center;
    font-size: 64px;
}

.calenderContainer{
    width: 100%;
    color: var(--text-light);
}

.month{
    width: 100%;
    background-color: var(--darker-main-green);
    display: grid;
    grid-template-columns: .25fr 2.5fr .25fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 4px 4px 25px 2px var(--shadow-less);
    margin-bottom: 20px;
}

.month button{
    background-color: var(--dark-green);
    border: var(--main-green) 2px solid;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.month button:hover{
    border: var(--dark-green) 2px solid;
    background-color: var(--main-green);
}

.plants{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    font-size: 18px;
}

.plant{
    padding: 5px;
    display: grid;
    grid-template-columns: .25fr repeat(2, 1.75fr) .25fr;
    grid-template-rows: 1fr;
    line-height: 2em;
    text-align: center;
}

.plant h1{
    text-decoration: underline;
}

.plant button{
    border-radius: 25px;
    border: var(--main-background) 2px solid;
}

.plant button:hover{
    border: var(--text-dark) 2px solid;
    color:  var(--text-dark);
}

.start{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: var(--main-green);
    border-radius: 10px 0px 0px 10px;
    box-shadow: -10px 0 8px -8px var(--shadow);
}

.end{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
    border-radius: 0px 10px 10px 0px;
    box-shadow: -10px 0 8px -8px var(--shadow);
}

.onGoing{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--secondary-gray);
    box-shadow: -10px 0 8px -8px var(--shadow), 10px 0 8px -8px var(--shadow);
}

.startEnd{
    grid-column-start: 1;
    grid-column-end: 4;
    background: orange;
    background: linear-gradient(90deg, var(--main-green) 0%, red 100%);
    box-shadow: -10px 0 8px -8px var(--shadow), 10px 0 8px -8px var(--shadow);
}



@media only screen and (max-width: 600px) {
    .plant {
        grid-template-columns: 1fr;
    }

    .monthElmentButton{
        display: none;
    }

}