/**
 Make the title a large font size and centre it
 Use overflow wrap to make sure the input from the user doesn't overflow the box
 */
.title{
    font-size: 64px;
    line-height: 103%;
    text-align: center;
    color: #FFFFFF;
    overflow-wrap: break-word;

}

/*
 Split the page so that the input can be on the left and the images on the right
 Use flex to vertically and horizontally centre the input
 Flex in a collum for it to be vertical
 */
.column {
    float: left;
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formSection{

}

/*
 Make the title for a section large and centre it
 */
.sectionTitle{
    font-size: 64px;
    line-height: 103%;
    text-align: center;
    color: #000000;
    padding: 30px;

}

/*
 Add spacing between items in the input form
 */
.formItem{
    padding-bottom: 30px;
}
