.creditsContainer{
    position: fixed;
    bottom: 0;
    left: 2.5%;
    color: var(--text-light);
    background-color: var(--darker-main-green);
    z-index: 999;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    text-align: center;
}

.hidden{

    opacity: 0;
    height: 0;
    overflow: hidden;
}
.contentContainer{
    opacity: 1;
    height: auto;
}

.item{
    width: 100%;
    color: var(--blue);
    text-decoration: underline;

}


.item a{
    margin-left: 5px;
}