.errorContainer{
    width: 100%;
    background-color: red;
    color: var(--text-light);
    border-radius: 20px;
    padding: 20px;
    text-align: center;

}

.errorContainer h1{
    font-size: 32px;
    line-height: 103%;
    color: var(--text-light);
    font-weight: bold;
}