.footerBackgroundImage{
    width: 100vw;
    height: 30vh;
    filter: blur(1px);
}

.footer{
    width: 100vw;
    height: 30vh;
    bottom: 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 100px;
}

.searchBoxContainer{
    width: 80%;
}


.links h1{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: var(--text-light);
}

.link{
    font-size: 22px;
    line-height: 38px;
    color: var(--text-light);
}

.link p{
    margin: 10px;
}

@media only screen and (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .searchBoxContainer{
        display: none;
    }
}