@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

/*
 Defines Some Global CSS Variables for the theme
 */
:root{
    --main-bg: #000000;
    --main-bg-secondary: #302626;
    --main-text: #ffffff;

    --dark-main-1: #00377E;
    --dark-main-2: #002D67;
    --dark-main-3: #002657;

    --dark-secondary-1: #00132D;
    --dark-secondary-2: #00193B;
    --dark-secondary-3: #001E45;

    --light-main-1: #CAF0F8;
    --light-main-2: #90E0EF;
    --light-main-3: #00B4D8;

    --light-secondary-1: #03045E;
    --light-secondary-2: #0077B6;
    --light-secondary-3: #00B4D8;

    --main-1: var(--dark-main-1);
    --main-2: var(--dark-main-2);
    --main-3: var(--dark-main-3);

    --secondary-1: var(--dark-secondary-1);
    --secondary-2: var(--dark-secondary-2);
    --secondary-3: var(--dark-secondary-3);


}

/*
 Have a smooth transition effect on all elements
 */
* {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*
 The body of the website should be white with the font family of Archivo.
 The overflow-x is hidden to prevent the horizontal scroll bar from appearing
 */
body{
    background: whitesmoke;
    overflow-x: hidden;
    font-family: 'Archivo', sans-serif;
}


