@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 Defines Some Global CSS Variables for the theme
 */
:root{
    --LIGHT-main-background: #ffffff;
    --LIGHT-darker-main-background: #CFD3D5;
    --LIGHT-dark-background: #000000;
    --LIGHT-text-light: #FFFFFF;
    --LIGHT-text-dark: #000000;
    --LIGHT-main-green: green;
    --LIGHT-darker-main-green: #0A670A;
    --LIGHT-dark-green: #084808;
    --LIGHT-secondary-gray: #D9D9D9;
    --LIGHT-darker-secondary-gray: #A0A4A6;
    --LIGHT-blue: #00B4D8;
    --LIGHT-shadow: black;
    --LIGHT-shadow-less: rgba(0,0,0,0.75);
    --LIGHT-shadow-min: rgba(0,0,0,0.1);

    --DARK-main-background: #000000;
    --DARK-darker-main-background: #383535;
    --DARK-dark-background: #FFFFFF;
    --DARK-text-light: #000000;
    --DARK-text-dark: #FFFFFF;
    --DARK-main-green: green;
    --DARK-darker-main-green: #0A670A;
    --DARK-dark-green: #084808;
    --DARK-secondary-gray: #6d7072;
    --DARK-darker-secondary-gray: #505354;
    --DARK-blue: #01424f;
    --DARK-shadow: white;
    --DARK-shadow-less: rgba(255,255,255,0.5);
    --DARK-shadow-min: rgba(255,255,255,0.1);


    --main-background: var(--LIGHT-main-background);
    --darker-main-background: var(--LIGHT-darker-main-background);
    --dark-background: var(--LIGHT-dark-background);
    --text-light: var(--LIGHT-text-light);
    --text-dark: var(--LIGHT-text-dark);
    --main-green: var(--LIGHT-main-green);
    --darker-main-green: var(--LIGHT-darker-main-green);
    --dark-green: var(--LIGHT-dark-green);
    --secondary-gray: var(--LIGHT-secondary-gray);
    --darker-secondary-gray: var(--LIGHT-darker-secondary-gray);
    --blue: var(--LIGHT-blue);
    --shadow: var(--LIGHT-shadow);
    --shadow-less: var(--LIGHT-shadow-less);
    --shadow-min: var(--LIGHT-shadow-min);

    --site-font: 'Archivo'

}

/*
 Have a smooth transition effect on all elements
 */
* {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*
 The body of the website should be white with the font family of Archivo.
 The overflow-x is hidden to prevent the horizontal scroll bar from appearing
 */
body{
    background: var(--main-background);
    overflow-x: hidden;
    font-family: var(--site-font), sans-serif;
}

/*
 Split the page so that the input can be on the left and the images on the right
 Use flex to vertically and horizontally centre the input
 Flex in a collum for it to be vertical
 */
.column {
    float: left;
    width: 50%;
    padding: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 1500px) {
    .column{
        width: 100%;
    }
}

/*
 Clear the column ness
 */
.row:after {
    content: "";
    display: table;
    clear: both;
}
