.plantHeader{
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: .25fr .75fr 1.75fr .75fr .25fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;

}

.headerItem{

}

.plantId{
    transform: rotate(-90deg);
    font-size: 20px;
}

.headerTitle{
    font-size: 40px;
    word-wrap: break-word;
}

.plantMainInfo h1{
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.plantMainInfo h2{
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.description{
    font-size: 20px;
    padding-top: 35px;
}

.plantImageContainer{
    width: 100%;
    height: 100%;
}

.mainImage{
    background-color: #5E6366;
    width: 100%;
    height: 400px;
    position: relative;
}

.bottomImages{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: .5fr repeat(5, 1fr) .5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0;
    align-items: center;
    justify-content: center;
}

.bottomImages button{
    position: relative;
    cursor: pointer;
    background-color: rgba(94, 99, 102, 0.8);
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bottomImages button:hover{
    background-color: rgba(94, 99, 102, 0.6);
}

.bottomImage{

}

.monthsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.monthsContainer .title{
    font-size: 64px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;

}

.month{
    background: #0A670A;
    box-shadow: -5px 5px 4px 5px rgba(0, 0, 0, 0.43);
    border-radius: 50px;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.month h1{
    font-size: 32px;
}