.plantHeader{
    color: var(--text-light);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: .25fr .75fr 1.75fr .75fr .25fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;

}

.plantMainInfo{
    color: var(--text-dark);
}

.plantId{
    transform: rotate(-90deg);
    font-size: 20px;
}

.headerTitle{
    font-size: 40px;
    word-wrap: break-word;
}

.plantMainInfo h1{
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.plantMainInfo h2{
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.description{
    font-size: 20px;
    padding-top: 35px;
}

.plantImageContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainImage{
    background-color: var(--secondary-gray);
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.bottomImages{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: .5fr repeat(5, 1fr) .5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.bottomImages button{
    position: relative;
    cursor: pointer;
    background-color: var(--secondary-gray);
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.bottomImages button:hover{
    background-color: var(--darker-secondary-gray);
}

.bottomImage{

}

.monthsContainer, .attachmentsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.monthsContainer .title{
    font-size: 64px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;

}

.month{
    background: var(--darker-main-green);
    box-shadow: -5px 5px 4px 5px var(--shadow-min); /* Dark mode shadow would not work */
    border-radius: 50px;
    text-align: center;
    color: var(--text-light);
    padding: 20px;
    font-size: 20px;
}

.month h1{
    font-size: 32px;
}

.sourceSection h1, .attachmentsSection h1{
    color: var(--text-dark);
    text-align: center;
    font-size: 64px;
}


@media only screen and (max-width: 600px) {
    .monthsContainer, .plantHeader, .attachmentsContainer{
        grid-template-columns: 1fr;
    }

    .plantId{
        transform: rotate(0deg);
    }

    .monthsContainer .title{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .bottomImages{
        grid-template-columns: 1fr;
        height: 1400px;
    }
    
    .bottomImages .arrow{
        rotate: 90deg;
    }

}