/*
 Make the text in the welcome container white and any child elements should be flex to align them horizontally.
 */
.welcomeContainer{
    color: white; /* This doesnt change with themeing */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .5fr 2fr .5fr;
    grid-row-gap: 25px;
}

.title{
    background: url("/media/images/pohotukawa.png");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 0;
}

/*
 Make the title have a font size of 60px and a line height of 103%.
 Padding should be 4% to give spacing from the edges of the container.
 */
.title h1{
    font-size: 60px;
    line-height: 103%;
    padding: 4%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.2);
}

/*
 Make the description have a font size of 20px and a line height of 27px.
 Padding should be 4% to give spacing from the edges of the container.
 */
.description{
    font-size: 20px;
    line-height: 27px;
    padding-left: 4%;
}

/*
 Style the link in the description to be a light blue.
 */
.description a{
    color: var(--blue)

}

/*
 The search box takes up the width of the page header but its set to only take up 60% of this.
 */
.searchBox{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
}

/*
 This is used to add styling to the ThreeCanvas component.
 Give a width of 60% to the plantContainer to make it larger than the titleContainer.
 */
.plantContainer{
    grid-row: 1 / span 2;
}


/*
  Centres the plant cards using a flexbox
 */
.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 75px;
    justify-items: center;

}

/*
 A bigger sized title for the heading of the section
 */
.sectionTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: var(--text-dark);
    padding: 5%;
}

/*
 Make the pagebreak have a grey background with a inset shadow.
 Round the corners and keep the width at 80 veiwport width.
 Centre the plant images using a grid and two columns.
 Justify the items to the baseline to make the flax start at the bottom of the pagebreak.
 */
.pageBreak{
    background: var(--secondary-gray);
    box-shadow: inset 0px 4px 4px var(--shadow-less);
    border-radius: 25px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
}

@media only screen and (max-width: 1400px) {

    /*
     Can only fit two cards on the screen at a time with this width.
     */
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 1000px) {

    /*
     Can only fit one card on the screen at a time with this width.
     */
    .cardsContainer {
        grid-template-columns: 1fr;
    }

    /*
     Make the welcome container go into a singular column.
     */
    .welcomeContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /*
     Make the plant container go into a singular column.
     */
    .plantContainer{
        grid-row: 1
    }

    /*
     Search needs to only take up one column in this low sized form
     */
    .searchBox{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        align-self: center;
    }


}
