/*
 Make the text in the welcome container white and any child elements should be flex to align them horizontally.
 */
.welcomeContainer{
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .5fr 2fr .5fr;
    grid-row-gap: 25px;
}

/*
 Make the title have a font size of 60px and a line height of 103%.
 Padding should be 4% to give spacing from the edges of the container.
 */
.title{
    font-size: 60px;
    line-height: 103%;
    padding: 4%;
}

/*
 Make the description have a font size of 20px and a line height of 27px.
 Padding should be 4% to give spacing from the edges of the container.
 */
.description{
    font-size: 20px;
    line-height: 27px;
    padding-left: 4%;
}

/*
 This is used to add styling to the ThreeCanvas component.
 Give a width of 60% to the plantContainer to make it larger than the titleContainer.
 */
.plantContainer{
    grid-row: 1 / span 2;
}


/*
  Centres the plant cards using a flexbox
 */
.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 75px;
    justify-items: center;

}

/*
 A bigger sized title for the heading of the section
 */
.sectionTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #000000;
    padding: 5%;
}

.pageBreakContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.pageBreak{
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: baseline;
}

.searchBox{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
}