/*
 Make the text in the welcome container white and any child elements should be flex to align them horizontally.
 */
.welcomeContainer{
    color: white; /* This doesn't change with theming */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .5fr 2fr .5fr;
    grid-row-gap: 25px;
}


/*
 Make the title have a font size of 60px and a line height of 103%.
 Padding should be 4% to give spacing from the edges of the container.
 */
.title h1{
    font-size: 60px;
    padding: 4%;
}

/**
 Move the hero image behind the text and make it cover the whole container.
 Make it smaller and lighter to make the text stand out.
 Move to the left so that the edge touches the edge of the container.

 */
.heroImage{
    z-index: -1;
    object-fit: cover;
    scale: 0.9;
    margin-left: 5%;
    opacity: 0.6;
}

/*
 Make the description have a font size of 20px and a line height of 27px.
 Padding should be 4% to give spacing from the edges of the container.
 */
.description{
    font-size: 20px;
    line-height: 27px;
    padding-left: 4%;
}

.aboutContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

.aboutContainer a{
    color: var(--blue);
    text-decoration: underline;
}

.aboutContainer a:hover{
    color: var(--main-green);
}

.aboutContainer ul{
    list-style-type: circle;
    padding-left: 4%;
}

/*
 Make the image container take up the whole width of the container and have a height of 600px.
 Make the corners rounded and hide any overflow.
 */
.aboutImage{
    position: relative;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;

}

/*
 Style the link in the description to be a light blue.
 */
.description a{
    color: var(--blue)

}

/*
 The search box takes up the width of the page header but its set to only take up 60% of this.
 */
.searchBox{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
}

/*
 This is used to add styling to the ThreeCanvas component.
 Give a width of 60% to the plantContainer to make it larger than the titleContainer.
 */
.plantContainer{
    grid-row: 1 / span 2;
}


/*
  Centres the plant cards using a flexbox
 */
.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 75px;
    justify-items: center;

}

/*
 A bigger sized title for the heading of the section
 */
.sectionTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: var(--text-dark);
    padding: 5%;
}

/*
 Make the page-break have a grey background with a inset shadow.
 Round the corners and keep the width at 80 viewport width.
 Centre the plant images using a grid and two columns.
 Justify the items to the baseline to make the flax start at the bottom of the page-break.
 */
.pageBreak{
    background: var(--secondary-gray);
    box-shadow: inset 0 4px 4px var(--shadow-less);
    border-radius: 25px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
}

.sliderItem{
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center;
}

@media only screen and (max-width: 1400px) {

    /*
     Can only fit two cards on the screen at a time with this width.
     */
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 1000px) {

    /*
     Can only fit one card on the screen at a time with this width.
     */
    .cardsContainer,  .aboutContainer, .welcomeContainer {
        grid-template-columns: 1fr;
    }


    /*
     Make the welcome container go into a singular column.
     */
    .welcomeContainer{
        grid-template-rows: 1fr;
    }

    /*
     Make the plant container go into a singular column.
     */
    .plantContainer{
        grid-row: 1
    }

    /*
     Search needs to only take up one column in this low sized form
     */
    .searchBox{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        align-self: center;
    }


}
