.mushroomContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*
 Make the title of the page big, central and light coloured.
 */
.header h1{
    font-size: 64px;
    text-align: center;
    color: var(--text-light);
}

@media only screen and (max-width: 1300px) {
    .mushroomContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .mushroomContainer{
        grid-template-columns: 1fr;
    }
}