.mainBG{
    width: 100vw;
    height: 98vh;
    box-shadow: 0px 10px 10px black;
}

.pageHeader{

}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 98vh;
}

.contentContainer{
    background: #00B4D8;
    padding: 2.5%;
    width: 77.5%;
    position: relative;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 31px -31px 31px rgba(165, 165, 165, 0.1), inset -31px 31px 31px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(31px);
    border-radius: 30px;


}