.sectionContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    align-items: center;
    justify-items: center;
    padding: 2.5%;
    color: var(--text-dark);

}

.sourceSection{
    padding: .5%;
    justify-items: start;
    margin-left: 13%;
}

.sectionContainer h1{
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.sectionContainer h2 {
    font-size: 32px;
    font-weight: 400;
}

.sectionContainer h3{
    font-size: 24px;
    font-weight: 400;
}

.sectionContainer p{
    font-size: 18px;
    font-weight: 400;
}

.sectionContainer ol{
    list-style-type: decimal;
}

.sectionContainer ul{
    list-style-type: disc;
}

.sectionContainer a{
    color: var(--blue);
    text-decoration: underline;
}

.infoDiv{
    width: 80%;
}

.imageContainer{
    background-color: var(--secondary-gray);
    width: 80%;
    height: 100%;
    border-radius: 20px;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.split{
    grid-template-columns: .5fr .5fr;
    grid-column-gap: 75px;
}

.credits{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--text-dark);
    background-color: var(--secondary-gray);
    border-radius: 0 20px 0 20px;
    padding: 2px 8px 2px 8px;
}

.attachment{
    background-color: var(--main-green);
    border-radius: 20px;
    padding: 20px;
    color: lightgray;
    text-align: center;
    font-size: 32px;
    box-shadow: 0px 8px 8px var(--shadow-less);
}

.attachment:hover{
    background-color: var(--dark-green);
}

.attachment p{
    margin-top: 30px;
}

@media only screen and (max-width: 1500px) {
    .split{
        grid-template-columns: 1fr;
        grid-row-gap: 75px;
    }

}

@media only screen and (max-width: 600px) {
    .sectionContainer h1{
        font-size: 42px;

    }

    .sectionContainer h3{
        font-size: 18px;
    }

    .sectionContainer p{
        font-size: 16px;
    }

}