.scrollButton{
    position: fixed;
    bottom: 20px;
    right: 2.5%;
    z-index: 3;
    background-color: #FFFFFF;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 8px 24px 2px rgba(0, 0, 0, 0.2);
    color: #0a670a;

}

.scrollButton:hover{
    background-color: #0a670a;
    color: #FFFFFF;
}