.searchHeaderContainer{
    text-align: center;
    color: var(--text-light);
}

.searchHeaderContainer h1{
    font-size: 64px;
    line-height: 103%;
    text-align: center;
    color: var(--text-light);
}


.statsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

}

.statContainer{

}

.statContainer p{
    margin-left: 10px;
    overflow-wrap: anywhere;
    display: inline;
}

.searchBoxContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.searchBox{
    width: 60%;
    height: 75px;
    border-radius: 10px 00px 0 10px;
    box-shadow: 0 4px 4px var(--shadow-min);
    background-color: var(--main-background);
    padding: 10px;
    font-size: 32px;
    line-height: 103%;
    text-align: center;
    color: var(--text-dark);

}

.searchButton{
    box-shadow: 0 4px 4px var(--shadow-min);
    background-color: var(--darker-main-green);
    border-radius: 0 10px 10px 0;
    padding-left: 30px;
    color: var(--text-light);
    padding-right: 30px;
}

.searchButton:hover{
    background-color: var(--dark-green);
    cursor: pointer;
}

.searchResultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.searchResult{
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .searchBox{
        font-size: 24px;
    }

    .statsContainer{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 400px) {
    .searchBox{
        font-size: 20px;
    }
}