/*
 Font styling that should be consistent across the search box: Size 23px, color #838383
 */
.searchContainer{
    color: var(--secondary-gray);
    font-size: 23px;
    width: 100%;
}

/*
 Style the input field to have no border and a background color of #C2C2C2
 Add some padding and curved corners to the left side (right side should be straight so the search button can be placed there)
 */
.searchContainer input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: none;
    background: var(--main-background);
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 8px 24px 2px var(--shadow-min);
    width: 80%;

}

/*
 Give the search button a gradient background and curved corners on the right side (left side should be straight so it can be placed next to the input field)
 Add some padding to make it look nice
 Change the cursor to a pointer when hovering over the button to show it is clickable
 Remove the border as it is not needed
 */
.searchContainer button {
    width: 8%;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(180deg, var(--darker-main-green) 0%, var(--dark-green) 100%);
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 8px 24px 2px var(--shadow-min);
}

/*
 Invert the gradient on hover to show the user that the button is being hovered over
 */
.searchContainer button:hover {
    background: linear-gradient(180deg, var(--dark-green) 0%, var(--darker-main-green) 100%);
}
