.statsSection{
    background: var(--main-background);
    border: 1px solid #E7E6EB;
    box-shadow: 0px 8px 24px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 80vw;
    padding: 32px;
    text-align: center;

}

.statsSection p{
    width: 100%;

}

.statsSection h1{
    font-style: normal;
    font-weight: 500;
    font-size: 74px;
    line-height: 75px;
    width: 100%;
    color: var(--text-dark);

}

.statsRowContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 32px;
}

.stat{
    font-size: 40px;
    line-height: 47px;
    color: var(--text-dark);

}

.stat h2{
    font-size: 96px;
    line-height: 112px;
    color: #474747;
}

.inline{
    display: inline;
}

@media only screen and (max-width: 800px) {
    .statsRowContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
}