.adminHeaderContainer h1{
    font-size: 60px;
    padding: 4%;
    color: var(--text-dark);
}

.adminHeaderContainer button{
    background-color: var(--main-green);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.adminDataContainer{
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.adminData{
    width: 45%;
    padding: 4%;
    box-shadow: 0 8px 8px var(--shadow-min);
    margin-left: 2%;
    border-radius: 20px;
    background: var(--darker-secondary-gray);
}

.adminData h2 {
    font-size: 40px;
    color: var(--text-dark);
    text-align: center;
}


.tableContainer{
    width: 100%;
    overflow-x:auto;
    background-color: var(--secondary-gray);
}

.dataTable{
    width: 100%;
    border-collapse: collapse;
}

.dataTable td, .dataTable th{
    padding: 8px;
    text-align: left;
}

/* Change the font to monospace */
.dataTable td{
    font-family: 'Courier New', Courier, monospace;
}

.dataTable thead{
    background-color: var(--main-green);
    color: var(--text-light);

    letter-spacing: 0.05em;
}

.dataTable button{
    border-radius: 15px;
    color: var(--text-light);
    cursor: pointer;
    background-color: var(--main-green);
    padding: 5px 10px 5px 10px;
}

.dataTable button:hover{
    background-color: var(--darker-main-green);
}

/* On hover highlight the row */
.dataTable tr:hover{
    background-color: var(--darker-secondary-gray);
}

.plantTable{
    width: 100%;
}

.plantTable table{

    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.plantTable td, .plantTable th {
    border: 1px solid var(--darker-secondary-gray);
    text-align: left;
    padding: 8px;
}
.plantTable tr:nth-child(even) {
    background-color: var(--secondary-gray);
}

.plantTable button{
    background-color: var(--main-background);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    color: #ABAFB1;
}

.plantTable button:hover{
    background-color: var(--darker-secondary-gray);
    color: var(--secondary-gray)
}

.reloadButton{
    margin-top: 50px;
    background-color: var(--main-green);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    color: var(--text-light);
    cursor: pointer;
}