.adminHeaderContainer h1{
    font-size: 60px;
    padding: 4%;
    color: var(--text-dark);
}

.adminHeaderContainer button{
    background-color: var(--main-green);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    color: var(--text-light);
    cursor: pointer;
    width: 100%;
    box-shadow: 0 8px 8px var(--shadow-min);
}

.adminDataContainer button:hover{
    background-color: var(--darker-main-green);
}

.adminDataContainer{
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.adminData{
    width: 45%;
    padding: 4%;
    box-shadow: 0 8px 8px var(--shadow-min);
    margin-left: 2%;
    border-radius: 20px;
    background: var(--darker-secondary-gray);
}

.adminData h2 {
    font-size: 40px;
    color: var(--text-dark);
    text-align: center;
}


.tableContainer{
    width: 100%;
    overflow-x:auto;
    background-color: var(--secondary-gray);
}

.dataTable{
    width: 100%;
    border-collapse: collapse;
}

.dataTable td, .dataTable th{
    padding: 8px;
    text-align: left;
}

/* Change the font to monospace */
.dataTable td{
    font-family: 'Courier New', Courier, monospace;
}

.dataTable thead{
    background-color: var(--main-green);
    color: var(--text-light);

    letter-spacing: 0.05em;
}

.dataTable button{
    border-radius: 15px;
    color: var(--text-light);
    cursor: pointer;
    background-color: var(--main-green);
    padding: 5px 10px 5px 10px;
}

.dataTable button:hover{
    background-color: var(--darker-main-green);
}

/* On hover highlight the row */
.dataTable tr:hover{
    background-color: var(--darker-secondary-gray);
}
.dataTable{
    width: 100%;
    border-collapse: collapse;
}

.dataTable td, .dataTable th{
    padding: 8px;
    text-align: left;
}

/* Change the font to monospace */
.dataTable td{
    font-family: 'Courier New', Courier, monospace;
}

.dataTable thead{
    background-color: var(--main-green);
    color: var(--text-light);

    letter-spacing: 0.05em;
}

.dataTable button{
    border-radius: 15px;
    color: var(--text-light);
    cursor: pointer;
    background-color: var(--main-green);
    padding: 5px 10px 5px 10px;
}

.dataTable button:hover{
    background-color: var(--darker-main-green);
}

/* On hover highlight the row */
.dataTable tr:hover{
    background-color: var(--darker-secondary-gray);
}

.reloadButton{
    margin-top: 50px;
    background-color: var(--main-green);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    color: var(--text-light);
    cursor: pointer;
}

.approveAndDeny{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.postsToModerate{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 600px;
}

.postsToModerate > div{
    background: white;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Second div behind the first one slightly offset */
.postsToModerate > div:nth-child(2){
    margin-left: -380px;
    margin-top: 10px;
    z-index: -1;
    background: white;
}

.slideoutAnimation{
    animation: slideout 0.5s ease-out forwards;
}

@keyframes slideout {
    0% {
        transform: translateX(0);
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-380px);
    }
}