.page{
    display: grid;
    grid-template-rows: 0.2fr 3.5fr 0.3fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 4vh;
    height: 96vh;
    gap: 2%;
}

.topBar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.logo{
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-left: 6%;
}

.logo h1{
    font-size: 0.9em;
    color: var(--text-dark);
    font-weight: bolder;
}

.logo h2{
    font-size: 0.7em;
    color: var(--darker-secondary-gray);
    font-weight: bold;
}

.message{
    justify-self: end;
}

.message img{
    width: 40%;
    position: relative;
    top: 15px;
}

.message p{
    position: relative;
    z-index: 2;
    top: -20px;
    right: -20px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: var(--darker-secondary-gray);
    border-radius: 50%;
    width: 24%;
    text-align: center;
}

.stories{
    display: flex;
    width: 100%;
    gap: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 50px;
    margin-bottom: 25px;
}

.stories::-webkit-scrollbar{
    display: none;
}


.story{
    text-align: center;
    color: var(--darker-secondary-gray);
    min-width: 75px;
    max-width: 75px;
    cursor: pointer;
}

.story img{
    width: 100%;
    border-radius: 50%;
    border: var(--secondary-gray) 2px solid;
    opacity: 80%;
}

.active{
    color: var(--text-dark);
}

.active img{
    border: var(--main-green) 3px solid;
}


.story > div{
    position: relative;
    top: -75%;
    margin-bottom: -100%;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.story > div img{
    scale: 0.4;
    border-radius: 0;
    border: 0 !important;
}

.posts{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 4%;
}

.posts::-webkit-scrollbar{
    display: none;
}


.posts > button {
    height: 50px;
}

.bottomBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 90%;
    gap: 5%;
    margin-bottom: 50px;
    background-color: var(--main-green);
    border-radius: 15px;
    padding: 3% 8% 3% 8%;
}

.bottomBar img{
    width: 45px;
    height: 45px;
    min-width: 15px;
    min-height: 15px;
    padding: 10%;
    cursor: pointer;
    fill: var(--text-dark);
}

.big img{
    scale: 1.8;
}

.posts > div{
    margin-top: 50px;
    margin-left: 5%;

}

.posts > button{
    margin-top: 50px;
    width: 100%;
}

.notification{
    background: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    width: 30px;
    margin-top: -20px;
    top: -20px;
    left: 50%;
    z-index: 2;
    position: relative;
}

.posts h1{
    color: var(--text-dark);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
