.page{
    display: grid;
    grid-template-rows: 0.1fr 0.8fr 1.5fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 4vh;
    height: 96vh;
}

.topBar{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    justify-items: center;
    align-items: center;
}

.topBar img{
    width: 35%;
    height: 35%;
}

.topBar h1{
    font-size: 1.7em;
    color: var(--text-dark);
    font-weight: bolder;
}

.backButton{
    justify-self: start;
    margin-left: 15%;
}


.editButton{
    justify-self: end;
}

.profileContainer{
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.25fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profileImage{
    border-radius: 50%;
    width: 30%;
    margin-top: 10%;
    overflow: hidden;
}

.profileImage img{
   aspect-ratio: 1/1;
}

.profileInfo{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.profileInfo h1{
    font-size: 1.5em;
    color: var(--text-dark);
    font-weight: bolder;
}

.profileInfo p{
    font-size: 1.2em;
    color: var(--darker-secondary-gray);
    font-weight: bolder;
}

.profileStats{
    margin-top: 6%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.profileStats p{
    font-size: 1.5em;
    color: var(--text-dark);
    font-weight: bolder;
}

.profileStats h1{
    font-size: 1em;
    color: var(--darker-secondary-gray);
    font-weight: bolder;
}

.postsContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.2fr;
    gap: 4%;
    overflow-y: scroll;
}

#container{
    --height: 100px;
}

.postsContainer::-webkit-scrollbar {
    display: none;
}

.postsHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.postsHeader button{
    font-size: 1.2em;
    color: var(--darker-secondary-gray);
    font-weight: bolder;
    padding: 3% 15% 3% 15%;
    border-radius: 15px;
}

.postsHeader .active{
    background-color: var(--main-green);
    color: var(--text-light);
}

.loader{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    animation: fade 1s infinite;
}

.loader h1{
    font-size: 1.5em;
    color: var(--text-dark);
    font-weight: bolder;
}

.loader img{
    width: 35%;;
}

.posts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 100px);
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    text-align: center;
}

.posts p{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.posts:has(> :nth-child(3):last-child) .post{
    grid-row-start: 1;
    grid-row-end: 3;
}

.posts:has(> :nth-child(4):last-child) .main{
    grid-row-start: 1;
    grid-row-end: 3;
}

.post{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 4%;
    display: block;
    position: relative;
}

.post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.main{
    grid-row-start: 1;
    grid-row-end: 4;
}

.followButton{
    font-size: 1.2em;
    color: var(--text-light);
    font-weight: bolder;
    padding: 1% 10% 1% 10%;
    border-radius: 15px;
    background-color: var(--main-green);
}

.followContainer{
    width: 100%;
    display: grid;
    justify-items: center;
}

/* Loading Animation */
@keyframes fade{
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}